hostname {node_name}
vdc {node_name} id 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 96 maximum 96
  limit-resource u6route-mem minimum 24 maximum 24

feature telnet
feature ospf

username {user} password {password} role network-admin
no password strength-check
ip domain-lookup
copp profile strict
rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO

vlan 1

vrf context management
  ip route 0.0.0.0 0.0.0.0 {default_gateway}

hardware forwarding unicast trace

interface Loopback0
  description Loopback
  ip address 192.168.0.1/32
  ip router ospf 1 area 0

interface mgmt0
  description OOB Management
  ! Configured on launch
  no ip address
  duplex full
  no shutdown
  vrf member management

{interfaces}

line console
line vty
router ospf 1
  router-id 192.168.0.1